<!DOCTYPE html >
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <title>Candy Brain</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <!--<script type="text/javascript">
         if(top != self) {
            window.open(self.location.href, '_top');
        }
        </script> -->
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="icon" href="favicon." type="image/x-icon"/>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500,300|Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="css/main.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link type="text/css" rel="stylesheet" href="css/responsive.css">
        <link type="text/css" rel="stylesheet" href="fonts/zocial.css">
        <link type="text/css" rel="stylesheet" href="css/font-awesome-4.5.min.css">
        <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css">
        <!--[if gte IE 7]><link type="text/css" rel="stylesheet" href="css/ie.css"><![endif]-->
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
        window.jQuery || document.write('<script type="text/javascript" src="js/vendor/jquery-1.9.1.min.js"><\/script>');
        </script>
        <script src="js/vendor/jquery-migrate-1.1.1.min.js"></script>
        <script type="text/javascript" src="js/vendor/moder.js"></script>
    </head>
    <body data-smooth-scrolling="1" ng-app="candybrainApp">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- ==========================HEADER=========================== -->
        <header>
            <div class="container">
                    <div class="logo">
                        <a href="index.html"><img src="image/logos/logositio.png" alt="logo" /></a>
                    </div>
                    <div class="nav js">
                        <nav>
                            <ul>
                            <li class="current"><a href="#home" class="menu_1">INICIO</a></li>
                            <li><a href="#services" class="menu_2">SERVICIOS</a></li>
                            <li><a href="#portfolio" class="menu_3">CLIENTES</a></li>
                            <li><a href="#pricing_table" class="menu_4">TESTIMONIOS</a></li>
                            <li><a href="#about_us" class="menu_5">CANDY BRAIN</a></li>
                            <li><a href="#contact_us" class="menu_7">CONTACTO</a></li>
                            <!--li><a href="blog.html" class="menu_6 external">BLOG</a></li-->
                            </ul>
                        </nav>
                    </div>
                    <div class="mob_nav js">
                        <span class="trigger">MENU</span>
                        <ul>
                            <li class="current"><a href="#home" class="menu_1">INICIO</a></li>
                            <li><a href="#services" class="menu_2">SERVICIOS</a></li>
                            <li><a href="#portfolio" class="menu_3">CLIENTES</a></li>
                            <li><a href="#pricing_table" class="menu_4">TESTIMONIOS</a></li>
                            <li><a href="#about_us" class="menu_5">CANDY BRAIN</a></li>
                            <li><a href="#contact_us" class="menu_7">CONTACTO</a></li>
                            <!--li><a href="blog.html" class="menu_6 external">BLOG</a></li-->
                        </ul>
                    </div>
            </div>
        </header>
        
        <!-- =========================PAGES============================= -->
        <section id="pages">
            <ul class="nostyle">
                
                <!-- ========== HOME SECTION ========== -->
                <li id="home">
                    <section class="slider">
                            <div class="flexslider">
                                  <ul class="slides">
                                        <li>
                                            <img src="image/slider/bannerinicio1.jpg" alt=""/>
                                            <div class="slide_text">
                                                <div class="container text_right">
                                                    <div class="title1"></div>
                                                    <div class="title2"> </div>
                                                    <!--a href="#portfolio" class="slide_link">Nuestros Clientes</a-->
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="image/slider/bannerinicio2.jpg" alt=""/>
                                            <div class="slide_text">
                                                <div class="container text_right">
                                                    <div class="title1"></div>
                                                    <div class="title2"> </div>
                                                    <!--a href="#portfolio" class="slide_link">Nuestros Clientes</a-->
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="image/slider/bannerinicio3.jpg" alt=""/>
                                            <div class="slide_text">
                                                <div class="container text_right">
                                                    <div class="title1"></div>
                                                    <div class="title2"> </div>
                                                    <!--a href="#portfolio" class="slide_link">Nuestros Clientes</a-->
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="image/slider/bannerinicio4.jpg" alt=""/>
                                            <div class="slide_text">
                                                <div class="container text_right">
                                                    <div class="title1"></div>
                                                    <div class="title2"> </div>
                                                    <!--a href="#portfolio" class="slide_link">Nuestros Clientes</a-->
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="image/slider/bannerinicio5.jpg" alt=""/>
                                            <div class="slide_text">
                                                <div class="container text_right">
                                                    <div class="title1"></div>
                                                    <div class="title2"> </div>
                                                    <!--a href="#portfolio" class="slide_link">Nuestros Clientes</a-->
                                                </div>
                                            </div>
                                        </li>
                                        <!--li>
                                            <img src="image/slide2.jpg" alt="" />
                                            <div class="slide_text">
                                                <div class="container text_right">
                                                    <div class="title1">'VERY EASY IN USE'</div>
                                                    <div class="title2">RESPONSIVE LAYOUT</div>
                                                    <a href="http://youtu.be/_XWWzCn3nXI" class="slide_but fresco">See Video</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="image/6_retina_min.jpg" alt="" />
                                            <div class="slide_text">
                                                <div class="container text_right">
                                                    <div class="title3 pull-left"><span class="yellow">You can embed VIDEO!!</span> Insert any iframe Vimeo or YouTube, whatever you like!</div>
                                                    <div class="slvideo pull-right">
                                                        <iframe src="http://player.vimeo.com/video/65529665?badge=0" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </li-->
                                  </ul>
                            </div>
                    </section>
                </li>
                
                <!-- ========== SERVICES SECTION ========== -->
                <li id="services">
                    <section class="service_box">
                        <div class="serv_top top_box_right"></div>
                        <div class="serv_mid">
                            <div class="container">
                                <h3 class="text_center">Nuestros Servicios </h3>
                                <div class="lines sub_title text_center"></div>
                                <div class="serv_corusel">
                                    <div class="mycont">
                                      <!-- Carousel items -->
                                      <ul class="mycarousel">
                                         <li class="item">
                                            <h4>Identidad Gráfica</h4>
                                            <i class="fa fa-gears"></i>
                                           
                                        </li>
                                         <li class="item">
                                            <h4>MKT Digital</h4>
                                            <i class="icon-laptop"></i>
                                           
                                        </li>
                                         <li class="item">
                                            <h4>Community Management</h4>
                                            <i class="fa fa-comment-o"></i>
                                            
                                        </li>
                                         <li class="item">
                                            <h4>Diseño Web</h4>
                                            <i class="icon-desktop"></i>
                                           
                                        </li>
                                         <li class="item">
                                            <h4>Diseño Editorial</h4>
                                            <i class="icon-book"></i>
                                        </li>
                                         <li class="item">
                                            <h4>Creación de contenidos</h4>
                                            <i class="icon-pencil"></i>
                                        </li>
                                         <li class="item">
                                            <h4>Desarrollo de Aplicaciones</h4>
                                            <i class="fa fa-mobile"></i>
                                        </li>
                                         <li class="item">
                                            <h4>Endomarketing</h4>
                                            <i class="icon-group"></i>
                                        </li>
                                         <li class="item">
                                            <h4>Fotografía</h4>
                                            <i class="icon-camera"></i>
                                        </li>
                                        
                                      </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="serv_bot bot_box_right"><a href="#home" class="back2top"><i class="icon-chevron-up"></i></a></div>
                    </section>
                </li>
                
                <!-- ========== PORTFOLIO SECTION ========== -->
                <li id="portfolio" >
                    <section class="portfolio_intro intro">
                        <div class="black_over">
                            <div class="container text_center">
                                <div class="intro_pad">
                                    <h1>Nuestros Clientes</h1>
                                    <h2></h2>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="portfolio_main" ng-controller="PortfolioCtrl">
                     
                        <div class="portfolio_top top_box_left"></div>
                        <div class="portfolio_mid">
                            <div class="container">
                                <h3 class="text_center">Portafolio de proyectos</h3>
                                <div class="lines sub_title text_center">Conoce nuestro trabajo</div>
                                <section id="options" class="clearfix">
                                    <ul id="filters" class="option-set clearfix" data-option-key="filter">
                                        <li><a href="#filter" data-option-value="*" class="selected" ng-click="mode='all'">TODOS</a></li>
                                        <li><a href="#filter" data-option-value=".cdm" class="" ng-click="mode='cdm'">Creación de marca </a></li>
                                        <li><a href="#filter" data-option-value=".ent" class="" ng-click="mode='ent'">Entorno digital</a></li>
                                        <li><a href="#filter" data-option-value=".gdc" class="" ng-click="mode='gdc'">Contenido</a></li>
                                        <li class="hidden"><a href="#filter" data-option-value=".ppp" class="">Sitio Web</a></li>

                                        <li class="hidden"><a href="#filter" data-option-value=".art" class="">art</a></li>
                                        <li class="hidden"><a href="#filter" data-option-value=".innovation" class="">innovation</a></li>
                                        <li class="hidden"><a href="#filter" data-option-value=".newest" class="">newest</a></li>
                                    </ul>
                                </section>
                                <div id="container">
                                    <div class="isotope-item cdm ent">
                                        <div class="">
                                            <a href="http://solotalento.com.mx/" target="_blank" ng-if="mode==='ent'">
                                                <img src="image/logos/logotalento.jpg" alt="" />
                                                <div class="over_box" />
                                                    <div class="over_box_pad">
                                                        <div class="over_box_inner">
                                                            <span class="portfolio_name">Sólo Talento</span>                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="image/mockups/brandingtalento.jpg" data-fresco-group="mixed" class="fresco" ng-if="mode==='all' || mode==='cdm' ">
                                                <img src="image/logos/logotalento.jpg" alt="" />
                                                <div class="over_box" />
                                                    <div class="over_box_pad">
                                                        <div class="over_box_inner">
                                                            <span class="portfolio_name">Sólo Talento</span>                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="isotope-item ent gdc">
                                        <div class="iso_inner ">
                                            <a href="http://valegal.com.mx/index.php?p=home" target="_blank">
                                                <img src="image/logos/logovera.jpg" alt="" />
                                                <div class="over_box">
                                                    <div class="over_box_pad">
                                                        <div class="over_box_inner">
                                                            <span class="portfolio_name">Vera y Asociados</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="isotope-item cdm ent">
                                        <div class="iso_inner ">
                                            <a href="http://www.conceptosalon.com" target="_blank" ng-if="mode==='ent'">
                                                <img src="image/logos/logoconcepto.jpg" alt="" />
                                                <div class="over_box" />
                                                    <div class="over_box_pad">
                                                        <div class="over_box_inner">
                                                            <span class="portfolio_name">Concepto</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="image/mockups/brandingconcepto.jpg" data-fresco-group="mixed" class="fresco" ng-if="mode==='cdm' || mode==='all'">
                                                <img src="image/logos/logoconcepto.jpg" alt="" />
                                                <div class="over_box" />
                                                    <div class="over_box_pad">
                                                        <div class="over_box_inner">
                                                            <span class="portfolio_name">Concepto</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="isotope-item cdm ent">
                                        <div class="iso_inner">
                                            <a href="http://magnolia-armonia.com.mx/#home" target="_blank" ng-if="mode==='ent'">
                                                <img src="image/logos/logomagnolia.jpg" alt="" />
                                                <div class="over_box" />
                                                    <div class="over_box_pad">
                                                        <div class="over_box_inner">
                                                            <span class="portfolio_name">Magnolia</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="image/mockups/brandingmagnolia.jpg" data-fresco-group="mixed" class="fresco" ng-if="mode==='cdm' || mode==='all'">
                                                <img src="image/logos/logomagnolia.jpg" alt="" />
                                                <div class="over_box" />
                                                    <div class="over_box_pad">
                                                        <div class="over_box_inner">
                                                            <span class="portfolio_name">Magnolia</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="isotope-item cdm">
                                        <div class="iso_inner">
                                            
                                            <a href="image/mockups/brandingcristina.jpg" data-fresco-group="mixed" class="fresco" >
                                                <img src="image/logos/logocristina.jpg" alt="" />
                                                <div class="over_box" >
                                                    <div class="over_box_pad">
                                                        <div class="over_box_inner">
                                                            <span class="portfolio_name">Cristina Monforte</span>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="isotope-item ent">
                                        <div class="iso_inner">
                                            <a href="http://cavas.webfortyeight.com/#section1" target="_blank" >
                                                <img src="image/logos/logocavas.jpg" alt="" />
                                                <div class="over_box" >
                                                    <div class="over_box_pad">
                                                        <div class="over_box_inner">
                                                            <span class="portfolio_name">Cavas del Mundo</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="isotope-item cdm">
                                        <div class="iso_inner">
                                            <a href="image/mockups/brandingcreditice.jpg" data-fresco-group="mixed" class="fresco">
                                                <img src="image/logos/logocreditice.jpg" alt="" />
                                                <div class="over_box">
                                                    <div class="over_box_pad">
                                                        <div class="over_box_inner">
                                                            <span class="portfolio_name">Creditice</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="isotope-item cdm">
                                        <div class="iso_inner">
                                            <a href="image/mockups/brandingMRA.jpg" data-fresco-group="mixed" class="fresco">
                                                <img src="image/logos/logomra.jpg" alt="" />
                                                <div class="over_box">
                                                    <div class="over_box_pad">
                                                        <div class="over_box_inner">
                                                            <span class="portfolio_name">MRA Ventures</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                     <div class="isotope-item cdm">
                                        <div class="iso_inner">
                                            <a href="image/mockups/brandingcontrol.jpg" data-fresco-group="mixed" class="fresco">
                                                <img src="image/logos/logocontrol.jpg" alt="" />
                                                <div class="over_box">
                                                    <div class="over_box_pad">
                                                        <div class="over_box_inner">
                                                            <span class="portfolio_name">Control Integral</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="isotope-item gdc">
                                        <div class="iso_inner">
                                            <a href="image/logos/logonuricumbo.jpg" data-fresco-group="mixed" class="fresco">
                                                <img src="image/logos/logonuricumbo.jpg" alt="" />
                                                <div class="over_box">
                                                    <div class="over_box_pad">
                                                        <div class="over_box_inner">
                                                            <span class="portfolio_name">Nuricumbo & Partners</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="isotope-item gdc">
                                        <div class="iso_inner">
                                            <a href="image/logos/logorgp.jpg" data-fresco-group="mixed" class="fresco">
                                                <img src="image/logos/logorgp.jpg" alt="" />
                                                <div class="over_box">
                                                    <div class="over_box_pad">
                                                        <div class="over_box_inner">
                                                            <span class="portfolio_name">RGP México</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                   
                                    <div class="isotope-item ent">
                                        <div class="iso_inner">
                                            <a href="http://cenit.webfortyeight.com/" target="_blank" >
                                                <img src="image/logos/logocenit.jpg" alt="" />
                                                <div class="over_box">
                                                    <div class="over_box_pad">
                                                        <div class="over_box_inner">
                                                            <span class="portfolio_name">Cenit</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text_center" class="hidden">
                                    <a href="#" class="load_more hidden">Load more</a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio_bot bot_box_left"><a href="#home" class="back2top"><i class="icon-chevron-up"></i></a></div>
                    </section>
                </li>
                
                <!-- ========== PRICING TABLE ========== -->
                <li id="pricing_table">
                    <section class="pricing_table_intro intro">
                        <div class="black_over">
                            <div class="container text_center">
                                <div class="intro_pad">
                                    <h1>Testimonios</h1>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="pricing_table_main">
                        <div class="pricing_table_top top_box_right"></div>
                        <div class="pricing_table_mid">
                            <div class="container">
                                <!--h3 class="text_center">Portfolio</h3>
                                <div class="lines sub_title text_center">Premium portfolio slider</div>
                                <div class="pricing_table row-fluid">
                                    <div class="span4">
                                        <div class="pt_title">BASIC</div>
                                        <div class="pt_price"><span>$5</span><sup>00</sup>/mo</div>
                                        <div class="pt_feature">Free setup</div>
                                        <div class="pt_feature">Unlimited bandwidth</div>
                                        <div class="pt_feature">2.0% transaction fee</div>
                                        <div class="pt_feature">1 GB Storage</div>
                                        <div class="pt_feature">Unlimited concurrent domain</div>
                                        <div class="pt_pay"><a href="#">> BUY NOW</a></div>
                                    </div>
                                    <div class="span4">
                                        <div class="pt_title">ADVANCED</div>
                                        <div class="pt_price"><span>$9</span><sup>00</sup>/mo</div>
                                        <div class="pt_feature">Free setup</div>
                                        <div class="pt_feature">Unlimited bandwidth</div>
                                        <div class="pt_feature">2.0% transaction fee</div>
                                        <div class="pt_feature">1 GB Storage</div>
                                        <div class="pt_feature">Unlimited concurrent domain</div>
                                        <div class="pt_pay"><a href="#">> BUY NOW</a></div>
                                    </div>
                                    <div class="span4">
                                        <div class="pt_title">PROFESSIONAL</div>
                                        <div class="pt_price"><span>$27</span><sup>00</sup>/mo</div>
                                        <div class="pt_feature">Free setup</div>
                                        <div class="pt_feature">Unlimited bandwidth</div>
                                        <div class="pt_feature">2.0% transaction fee</div>
                                        <div class="pt_feature">1 GB Storage</div>
                                        <div class="pt_feature">Unlimited concurrent domain</div>
                                        <div class="pt_pay"><a href="#">> BUY NOW</a></div>
                                    </div>
                                </div-->
                                <div class="c_title text_center">Clientes Felices</div>
                                <div class="lines sub_title text_center c_quot">&quot;</div>
                                <div class="flexslider">
                                  <ul class="slides">
                                        <li>
                                            <div class="c_block text_center">
                                                <div class="c_entry">
                                                    <EM>"Entendieron muy bien el concepto de mi negocio y lo que queremos transmitir a nuestros clientes. Nos gustó mucho el resultado final nos representa perfecto."</EM>
                                                    
                                                </div>
                                                <div class="c_author">Mauricio Rico, MRA Ventures</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="c_block text_center">
                                                <div class="c_entry">
                                                     <EM>"Teníamos la necesidad de generar contenido, interesante, útil y fundamentado. Con Candy Brain encontramos la solución ideal."</EM>
                                                    
                                                </div>
                                                <div class="c_author">Armando Nuricumbo, Nuricumbo & Partners</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pricing_table_bot bot_box_right"><a href="#home" class="back2top"><i class="icon-chevron-up"></i></a></div>
                    </section>
                </li>
                
                <!-- ========== ABOUT TEAM ========== -->
                <li id="about_us" >
                    <section class="about_us_intro intro">
                        <div class="black_over">
                            <div class="container text_center">
                                <div class="intro_pad">
                                    <h1>Candy Brain</h1>
                                    <h2>Creatividad Inteligente</h2>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="about_us_main">
                        <div class="about_us_top top_box_left"></div>
                        <div class="about_us_mid">
                            <div class="container">
                                
                                <div class="">
                                    <div class="mycont">
                                      <!-- Carousel items -->
                                      <ul class="mycarousel">
                                        <li class="item text_center">
                                            
                                            <div class="team_name">¿Quiénes<br />somos?</div>
                                            <div class="team_entry ">
                                                Somos un colectivo de creativos apasionados por la comunicación y el diseño. Tenemos las tres efes: frescos, flexibles y felices por eso con nosotros siempre encontrarás la solución ideal para tu marca. 

                                                <br>

                                                Nos gusta trabajar a la medida, con atención personalizada y haciendo de tus proyectos nuestros proyectos . Creamos conceptos sólidos y funcionales asegurándote que tendrás un gran equipo de expertos enfocados en que tu empresa crezca y genere negocio. 
                                            </div>
                                            
                                        </li>
                                        <li class="item text_center">
                                           
                                            <div class="team_name">¿Qué <br /> Hacemos?</div>
                                            <div class="team_entry ">
                                                Básicamente creamos soluciones de comunicación digital a la medida para que vendas más y tus clientes se casen con tu marca a través de nuestros diferentes servicios.
                                            </div>
                                            
                                        </li>
                                        <li class="item text_center">
                                           
                                            <div class="team_name">¿Por qué <br /> Nosotros?</div>
                                            <div class="team_entry">
                                                    Nos especializamos en PyMes y Startups.
                                                    <br>
                                                    Nuestro equipo está especializado en las áreas que necesitas para hacer crecer tu negocio.
                                                    <br>
                                                    Damos un servicio humano y personalizado.
                                                    <br>
                                                    Nuestros presupuestos son accesibles y competitivos.
                                                    <br>
                                                    Somos más amigables y empáticos que las grandes agencias.
                                            </div>
                                            
                                        </li>
                                        
                                        
                                      </ul>
                                    </div>
                                </div>
                                
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about_us_bot bot_box_left"><a href="#home" class="back2top"><i class="icon-chevron-up"></i></a></div>
                    </section>
                </li>
                
                <!-- ========== CONTACT US ========== -->
                <li id="contact_us">
                    <section class="contact_us_intro intro">
                        <div class="black_over">
                            <div class="container text_center">
                                <div class="intro_pad">
                                    <h1>Contacto</h1>
                                    <h2>Queremos escucharte</h2>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="contact_us_main">
                        <div class="contact_us_top top_box_right"></div>
                        <div class="contact_us_mid">
                            <div class="container">
                                <h3 class="text_center">Contáctanos</h3>
                                <div class="lines sub_title text_center">¿Dónde estamos?<br><br>Queremos regalarte un diagnóstico de entorno digital, sólo déjanos tus datos. </div>
                                <div class="google_map">
                                    <div id="map_canvas"></div>
                                    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
                                    <script type="text/javascript">
                                    
                                    var centerNL = new google.maps.LatLng(19.3672446,-99.1819279);

                                    var myOptions = {
                                      zoom: 14,
                                      center: centerNL,
                                      mapTypeId: google.maps.MapTypeId.ROADMAP,
                                      mapTypeControl: false,
                                      navigationControl: true,
                                      navigationControlOptions: {
                                        style: google.maps.NavigationControlStyle.ZOOM_PAN,
                                        position: google.maps.ControlPosition.TOP_RIGHT
                                      }
                                    };
                                    
                                    map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
                                    
                                    var marker = new google.maps.Marker({
                                        position: centerNL,
                                        map: map,
                                        title: '¿Dónde estamos?'
                                      });
                                    </script>
                                </div>
                                <div class="form">
                                    <div class="row-fluid">
                                        <div class="span8">
                                            <h4 class="bold">Escríbenos</h4>
                                            <form action="sendmail.php" method="post">
                                            <input type="text" name="name" value="" placeholder="Nombre" class="half" required />
                                            <input type="text" name="email" value="" placeholder="Mail" class="half" required/>
                                            <textarea name="msg" required placeholder="Mensaje.."></textarea>
                                            <input type="submit" value="ENVIAR" />
                                            <div class="error_checker">
                                            </div>
                                            </form>
                                        </div>
                                        <div class="span4">
                                            <h4 class="bold">Más Información</h4>
                                            <div class="more_info_box">
                                                5585538038<br />
                                                contacto@candybrain.com.mx<br />
                                                Plateros #16, San José Insurgentes, CDMX<br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="contact_us_bot bot_box_right"><a href="#home" class="back2top"><i class="icon-chevron-up"></i></a></div>
                    </section>
                </li>
            </ul>
        </section>
        
        <!-- ==========================FOOTER======================= -->
        <footer>
            <div class="container">
                <section class="footer_intro">
                    <h1>Inicia la conversación</h1>
                    <h2>síguenos en nuestras redes sociales </h2>
                    
                    <ul class="social_line">
                        <li class="hidden"><a href="#" title="Skype" class="fsoc">S</a></li>
                        <li class="hidden"><a href="#" title="Tumblr" class="fsoc">t</a></li>
                        <li class="hidden"><a href="#" title="Digg" class="fsoc">></a></li>
                        <li class="hidden"><a href="#" title="LinkedIn" class="fsoc">L</a></li>
                        <li><a href="https://www.facebook.com/candybrainmexico/" title="Facebook" class="fsoc">f</a></li>
                        <li class="hidden"><a href="#" title="Twitter" class="fsoc">T</a></li>
                        <li class="hidden"><a href="#" title="YouTube" class="fsoc">U</a></li>
                        <li class="hidden"><a href="#" title="Vimeo" class="fsoc">V</a></li>
                        <li class="hidden"><a href="#" title="RSS" class="fsoc">R</a></li>
                        <li class="hidden"><a href="#" title="Google Plus" class="fsoc">+</a></li>
                    </ul>
                </section>
                <section class="footer_widgets hidden" >
                    <div class="row-fluid">
                        <div class="span4 tweet hidden">
                            <h4 class="bold">Tweets Recientes</h4>
                            <div class="latest_tweet"></div>
                        </div>
                        <div class="span4 blog_feed hidden">
                            <h4 class="bold">POSTS RECIENTES</h4>
                            <div class="latest_posts">
                                <div class="fpost">
                                    <span class="date">8 march 2013</span>
                                    <h6><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h6>
                                </div>
                                <div class="fpost">
                                    <span class="date">8 march 2013</span>
                                    <h6><a href="#">There are many variations of passages</a></h6>
                                </div>
                                <div class="fpost">
                                    <span class="date">8 march 2013</span>
                                    <h6><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="span4 flickr_feed hidden">
                            <h4 class="bold">PHOTO STREAM</h4>
                            <div class="latest_photos">
                                <!-- Start of Flickr Badge -->
                                <style scoped>
                                    #flickr_badge_uber_wrapper a:hover,
                                    #flickr_badge_uber_wrapper a:link,
                                    #flickr_badge_uber_wrapper a:active,
                                    #flickr_badge_uber_wrapper a:visited {display: block;    float: left;    margin: 5px;}
                                </style>
                                <div  id="flickr_badge_uber_wrapper">
                                    <div id="flickr_badge_wrapper">
                                <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=v&amp;source=user&amp;user=95366013%40N05"></script>
                                    </div>
                                </div>
                                <!-- End of Flickr Badge -->


                            </div>
                        </div>
                    </div>
                </section>
                <section class="footer_bottom">
                    <div class="row-fluid">
                        <div class="span4 flogo hidden">
                            <a href="index.html"><img src="image/flogo.png" alt="" /></a>
                        </div>
                        <div class="span4 copyright">
                            (c) 2016 &ldquo;CandyBrain&rdquo; Derechos Reservados
                        </div>
                    </div>
                </section>
            </div>
        </footer>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="js/candybrain.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/custom.js"></script>
        
        
    </body>
</html>
